*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(/home/vinicius/Desktop/UFRN/2018.2/web1/sites/WebSushi/photos/sushi.jpg);
}
.first-banner{
	border-style: solid;
	background-color: black;
	opacity: 0.85;
}
.primary-title{
	font-family: 'Pacifico', cursive;
	font-size: 70px;
	font-style: italic;
	text-align: center;
	color: white;
}

.secondary-title{
	margin-top: -15px;
	margin-bottom: 15px;
	text-align: center;
	color: white;
}

.menu > div{
	background-color: black;
	opacity: 0.85;
	padding: 13px;
	text-align: center;
	flex: 1;
	color: white;
}

.menu{
	display: flex;
	padding: 0 auto;
}

.background{

	flex: 1;
	display: flex;
	filter: blur(5px);
	margin: 0 auto;
	padding: 0 auto;
}
.bottom{
	margin-top: 617px;
	flex: 1;
	background-color: rgb(0,0,0,0.85);
}
.bottom > .author{
	width: 150px;
	padding: 40px;
}

.bottom > div{
	position: relative;
	bottom: 180px;
	left: 200px;
	text-align: center;
	position: relative;
	color: white;
	margin-right: 1800px;
	margin-bottom: px;
}